/* Global styles */
/* Applied in main.tsx */
/* typical content:
    CSS resetslike box-sizing, body, html
    Fonts
    Root variables (like :root { --color-primary: #...} )
    General styles that affect the whole application */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
  /* GLOBAL VARS */
  --bg-dark-primary: #00171F;
  --text-offwhite: #FFFAFA;

  /* BACKGROUND */
  background-color: var(--bg-dark-primary);
  background-size: auto;

  /* TEXT */
  font-family: "Google Sans Code", monospace;
  color: var(--text-offwhite);

  /* MISC */
  height: 100%;
  margin: 0;
}

.impact-font {
  font-family: "Impact", monospace;
}