/* Global styles */
/* Applied in main.tsx */
/* typical content:
    CSS resetslike box-sizing, body, html
    Fonts
    Root variables (like :root { --color-primary: #...} )
    General styles that affect the whole application */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
  font-family: "Google Sans Code", monospace;
  color: #FFFFFF;

  height: 100%;
  /* Ensure the html and body cover the full height */
  margin: 0;
  /* Remove default margin */
  background-color: #00171F;
  /* background-repeat: no-repeat;  */
  /* Path to the image in src/assets */
  background-size: auto;
  /* Make the background image cover the entire page */
  background-position: center;
  /* Center the background image */
  background-attachment: fixed;
  /* Keep the background fixed during scrolling (optional) */
}

.impact-font {
  font-family: "Impact", monospace;
}