.hero-section {
  min-height: 100vh;   /* fallback, 100% of viewport height */
  min-height: 100dvh;  /* mobile-correct, 100% of visible viewport height (if compatible) */
}

.hero-img {
  width: clamp(200px, 60%, 400px);
  height: auto;
  object-fit: contain;
}

.hero-text {
  width: clamp(200px, 70%, 450px);
}

.hero-heading {
  font-size: clamp(1.6rem, 7.6vw, 3.5rem);
  font-weight: 900;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.bounce {
  animation: bounce 3s infinite;
}